/*layout*/

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

#header {
    text-align: center;
    border-bottom: 2px solid black;
}

h1 {
    margin: 0;
}

.content {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    width: 100%;
}

.content1 {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;
    width: 250px;
    height: 780px;
}

.content2 {
    width: 1000px;
}

.btn {
    text-decoration: none;
    border: 2px solid black;
    border-radius: 10px;
    padding: 0px 15px;
}

.commercial {
    display: flex;
    text-align: center;
    align-items: center;
    width: 240px;
    height: 240px;
    border-radius: 10px;
}

.contact {
    border-top: 2px solid black;
    text-align: center;
}

.icon {
    display: flex;
    justify-content: space-evenly;
}

.icon__item {
    width: 33%;
    text-align: center;
}

img[data-insta-image] {
    width: 70px;
}

img[data-vk-image] {
    width: 70px;
}

img[data-fb-image] {
    width: 70px;
}

/*colors*/

body {
    color: rgb(31, 30, 30);
    background-image: url(/images/back1.jpg);
    background-size: cover;
}

#header {
    text-shadow: 3px 5px 10px rgb(2, 2, 2);
}

.a__btn {
    color: brown;
    text-decoration: none;
    transition: color .2s linear;
}

.a__btn:hover {
    color: black;
}

.btn {
    color: black;
    transition: background .2s linear, color .2s linear;
}

.btn:hover {
    background-color: black;
    color: brown;
}

.commercial {
    background-color: gray;
}

/*fonts*/

body {
    font-family: 'Pacifico', cursive;
    font-size: 20px;
    line-height: 1.6;
}

#header {
    font-family: 'Marck Script', cursive;
}

.nameschool {
    font-weight: bolder;
    font-size: 30px;
    font-family: 'Marck Script', cursive;
}

.commercial {
    font-family: sans-serif;
}

.contact {
    font-family: 'Marck Script', cursive;
    font-weight: bolder;
    font-size: 40px;
}