.header{
    border: 2px solid blue;
}
.last{
    clear: both;
}
.left-column{
    float: left;
    width: 30%;
}
.right-column{
    float: right;
    width: 70%;
}
.nameschool {
    color: blue;
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: bolder;
}

html {
    background-color: #ffffff;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
    color: red;
    font-size: 50px;
    border: gold;
    letter-spacing: 2px;
}

.p1 {
    color: rgb(0, 0, 0);
    font-size: 12px;
    margin-top: 0;
}

li {
    font-size: 14px;
    color: lawngreen;
    font-style: italic;
    line-height: 2;
}

img[data-smile-image] {
    width: 50px;
}

.p2 {
    color: rgb(0, 0, 0);
    font-size: 12px;
}

.p3 {
    color: rgb(0, 0, 0);
    font-size: 12px;
}

.p4 {
    color: rgb(0, 0, 0);
    font-size: 12px;
}

.p5 {
    color: rgb(0, 0, 0);
    font-size: 12px;
}